## Basic of Python

In this video we will discuss about 

- Various Datatypes in Python
- Variable 
- Variables Assigment
- Print Formatting

## Various DataTypes in Python

### Numbers

# Python Tutorial

## Welcome to Python Tutorial


- Datatype

In [2]:
1+1

2

In [3]:
4*5

20

In [4]:
2*10

20

In [5]:
10/2

5.0

In [7]:
10%2

0

In [8]:
10**2

100

In [25]:
##Check the Data types

In [4]:
type(True)

bool

In [27]:
type("Hello")

str

### Strings

In [9]:
"Hello"

'Hello'

In [10]:
'Krish Naik'

'Krish Naik'

In [5]:
type("Krish Naik")

str

### Variable Assigment

In [6]:
# syntax
# var_name=values

a=10

In [7]:
type(a)

int

In [15]:
a='Krish Naik'

In [16]:
type(a)

str

In [17]:
## Mathematical operation with Variable Assigment

a=10
b=20

In [18]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) ##BODMAS

200
0.5
10
200.5

In [20]:
## Various Ways of Printing

print("Hello")

Hello

In [8]:
first_name='Krish'
last_name='Naik'

In [10]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Naik and last name is Krish

In [11]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Krish and last name is Naik

In [12]:
len('Krish')

5

In [15]:
type(['1',2,3,4,5])

list